<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/basicLayout.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <header>
            <div id="logo">
                <a href="/">
                    <img src="/img/logo.png"/>
                    <h1 id="logo_text">cupong</h1>
                </a>
            </div>
            <nav>
                <ul id="topMenu">
                    <li>
                        <a href="about.html">Hot Trend</a>
                    </li>
                    <li>
                        <a href="project.html">Product</a>
                    </li>
                    <li>
                        <a href="contact.html">Recommendation</a>
                    </li>
                </ul>
            </nav>
            <div id="UserInfo">
                <ul id="userMenu">
                    <li>
                        <a href="/members/new" id="signup">
                            회원가입
                        </a>
                    </li>
                    <li>
                        <a href="/members/login" id="signin">
                            로그인
                        </a>
                    </li>
                    <li>
                        <a href="/members" id="list">
                            회원목록
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="main_back">
            <div id="main">
                <div id="main_left">
                    <p id="main_en">The<br>global<br>commerce<br>platform</p>
                    <p id="main_small">Find world's hottest product.<br>Purchase everything you want.</p>
                    <form>
                        <input type="text" id="search" placeholder="search everything you like">
                    </form>
                </div>
                <div id="main_right">
                    <p id="main_ko">새로운 제품을 발견하세요.</p>
                    <p id="main_en">We create new value</p>
                    <div id="search"></div>
                </div>
            </div>
        </div>  
        <div id="main2">
            <div id="category">
                <ul>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                    <li>
                        <div></div>
                        <p>옷</p>
                    </li>
                </ul>
            </div>
            <div id="product">
                <div id="worldHot">
                    <p id="name">가장 Hot 한 상품!</p>
                    <p id="more">더보기</p>
                    <ul id="hotList">
                        <li>
                            <div></div>
                            <p>맥북 pro 12인치</p>
                            <p id="inst">가장 빠른 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 pro 13인치</p>
                            <p id="inst">가장 느린 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 air M1</p>
                            <p id="inst">가장 무거운 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 air M2</p>
                            <p id="inst">가장 가벼운 노트북</p>
                        </li>
                    </ul>
                </div>
                <div id="worldHot">
                    <p id="name">국내 Hot 한 상품!</p>
                    <p id="more">더보기</p>
                    <ul id="hotList">
                        <li>
                            <div></div>
                            <p>맥북 pro 12인치</p>
                            <p id="inst">가장 빠른 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 pro 13인치</p>
                            <p id="inst">가장 느린 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 air M1</p>
                            <p id="inst">가장 무거운 노트북</p>
                        </li>
                        <li>
                            <div></div>
                            <p>맥북 air M2</p>
                            <p id="inst">가장 가벼운 노트북</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div id="about">
            
        </div> -->
        <footer>
            <div id="footer_info">
                <ul>
                    <li id="footer_li">
                        <p>05006 서울특별시 광진구 능동로 209 (군자동) 세종대학교</p>
                    </li>
                    <li>
                        <p>TEL 02-1234-1234</p>
                    </li>
                    <li>
                        <p>E-Mail spc123@naver.com</p>
                    </li>
                </ul>
            </div>
            <p>COPYRIGHT 2023 SEJONG PREMIUM CLUB(SPC). ALL RIGHTS RESVERED.</p>
        </footer>
    </div>
</body>
</html>